@page "/register"
@using SocialMediaChatApp.Models

<h3>Register</h3>

<EditForm Model="@RegisterModel" OnValidSubmit="@HandleRegister">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="mb-3">
        <label>Email</label>
        <InputText class="form-control" @bind-Value="RegisterModel.Email" />
    </div>

    <div class="mb-3">
        <label>Password</label>
        <InputText class="form-control" type="password" @bind-Value="RegisterModel.Password" />
    </div>

    <button class="btn btn-primary" type="submit">Register</button>
</EditForm>
